/****************************************************/
/*					Global Style 					*/
/****************************************************/
.abs {position:absolute}
.rla {position:relative}
.AlignCenter {text-align:center}
.topMenuFontStyle {text-align:center; vertical-align: middle; letter-spacing:2.5px; font-family:Monospace; font-size:17px; font-weight:bolder; font-variant:small-caps; color:#FFF;}
.ContentIntroTitle{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:30px; font-weight:bolder; color:#000000; font-variant:small-caps; }
.ContentIntroText{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:18px; font-weight:bold; color:#000000; font-variant:small-caps; }
.ContentFontStyle{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:15px; font-weight:bolder; color:#000000; font-variant:small-caps; }
.topimg {
	background: transparent url('https://googledrive.com/host/0Bx3TZFC1zM7MLWhYbm5WaHo5MkU') no-repeat;
	width: 100%;
	height: 100%;
	_background: transparent;  
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://googledrive.com/host/0Bx3TZFC1zM7MLWhYbm5WaHo5MkU', sizingMethod='scale');  
}

.page-top {
    padding-bottom: 9px;
    margin: 50px 0 50px;
}

.row_topbar {
  text-align:center;
  letter-spacing:1px;
  color:#000;
}
.row_topbar:hover {
  cursor:pointer;
}
.row_topbar:hover .topbar_en {
  display: none;
}
.row_topbar:hover .topbar_zh {
  display: block;
}
.topbar_en {
  font-family: "NeutraText-Light", Arial, sans-serif;
  text-transform: uppercase;
  font-size:15px;
  display: block;
}
.topbar_zh {
  font-family:Monospace, 'Microsoft JhengHei';
  font-size:18px;
  display: none;
}
/****************************************************/
/*			  		main.html 				  		*/
/****************************************************/
#top{ background-color:#FFF; position:relative; background:rgb(0,0,0); }

#topbar{ list-style:none; padding:0; margin:0; background:rgba(255,255,255,0.6); }
#topbar ul{ list-style:none; }
#topbar li{ height:36px; line-height:36px; padding:0 10px; float:left; overflow:visible; position:relative; cursor:pointer; display:block; }
#topbar a{ height:36px; line-height:36px; float:left; text-decoration:none; color:#898989; background-image:none; }

/****************************************************/
/*			  		home.html 				  		*/
/****************************************************/
.homeItemStyle{ font-weight: 250; font-family:Monospace; font-weight:bolder; line-height: 1.5; letter-spacing: 1.5px; }
.homeContentStyle{ font-size:17px; font-family:Monospace; font-weight:bolder; line-height: 1; letter-spacing: 1.5px; cursor:pointer; }
.ContentIntroText{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:16px; font-weight:bold; color:#000000; font-variant:small-caps; }

/****************************************************/
/*			  		menu.html 				  		*/
/****************************************************/
#top_menu td{ color: #00000; padding-right:30px; padding-left:30px }
#top_menu td:hover{ color:#FF0066; cursor:pointer; }

/****************************************************/
/*				  	cake.html				 		*/
/****************************************************/
div.cakeimg{
    border: 1px solid #FFFFFF;
    float: left;
    width: 20%;
}
div.cakeimg img{ width: 100%; height: auto; border: 1px solid #FFFFFF;}
div.cakeimg:hover img{ border: 1px solid #777; }
div.desc{ padding: 15px; text-align: center; }
.cakeIntroTitle{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:21px; font-weight:bold; color:#FE2E64; font-variant:small-caps; }

/****************************************************/
/*			 	 	rent.html				 		*/
/****************************************************/
div.rentimg{
    border: 1px solid #FFFFFF;
    float: left;
    width: 20%;
}
div.rentimg img{ width: 100%; height: auto; }
div.desc{ padding: 15px; text-align: center; }

.carousel-control_art{
	position:absolute;
	top:100px;
	bottom:0;
	left:0;
}
.carousel-control_art.left{
	left:-45px;
}
.carousel-control_art.right{
	right:-45px;
	left:auto;
}

/****************************************************/
/*			 			grid						*/
/****************************************************/

.row {
  height: 40px;
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
/*  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/****************************************************/
/*			 		portfolio.html					*/
/****************************************************/
/*#portfolios img:hover {
	cursor: pointer;
}

.hoverarea {
	display: none;
}
.hoverarea:hover {
	display: inline;
}*/

.hoverarea {
  display: none;
  position: absolute; 
  margin: 20px 20px;
  width: 306px; height: 306px; 
  background-color: rgba(255,255,255,.4); 
  z-index: 200;
/*  opacity: 0;*/
  transition: opacity 0.4s ease-in-out;
}

.col-md-4:hover .hoverarea {
  display: block;
  cursor:pointer;
  transition: opacity 0.4s ease-in-out;
}
