/****************************************************/
/*					Global Style 					*/
/****************************************************/
.abs {position:absolute}
.rla {position:relative}
.AlignCenter {text-align:center}
.topMenuFontStyle {text-align:center; vertical-align: middle; letter-spacing:2.5px; font-family:Monospace; font-size:17px; font-weight:bolder; font-variant:small-caps; color:#FFF;}
.ContentIntroTitle{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:30px; font-weight:bolder; color:#000000; font-variant:small-caps; }
.ContentIntroText{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:18px; font-weight:bold; color:#000000; font-variant:small-caps; }
.ContentFontStyle{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:15px; font-weight:bolder; color:#000000; font-variant:small-caps; }
.topimg {
	background: transparent url('https://googledrive.com/host/0Bx3TZFC1zM7MLWhYbm5WaHo5MkU') no-repeat;
	width: 100%;
	height: 100%;
	_background: transparent;  
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://googledrive.com/host/0Bx3TZFC1zM7MLWhYbm5WaHo5MkU', sizingMethod='scale');  
}

.page-top {
    padding-bottom: 9px;
    margin: 50px 0 50px;
}

.row_topbar {
  text-align:center;
  letter-spacing:1px;
  color:#000;
}
.row_topbar:hover {
  cursor:pointer;
}
.row_topbar:hover .topbar_en {
  display: none;
}
.row_topbar:hover .topbar_zh {
  display: block;
}
.topbar_en {
  font-family: "NeutraText-Light", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
}
.topbar_zh {
  font-family: Monospace, 'Microsoft JhengHei';
  font-size: 18px;
  display: none;
}

.aka_row {
  margin-right: -15px;
  margin-left: -15px;
  height: 40px;
  margin-bottom: 30px;
  display: none;
  z-index:300;
}

.navbar-toggle-aka {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: white;
  background-image: none;
  border: 1px solid black;
  border-radius: 4px;
}
.navbar-toggle-aka:focus {
  outline: 0;
}
.navbar-toggle-aka .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle-aka .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media screen and (min-width: 992px) {
  .navbar-toggle-aka {
    display: none;
  }
  .aka_row, .aka_row-header {
    display: block !important;
  }
  .aka-navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .aka-navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.aka-navbar-collapse {
  /*padding-right: 15px;
  padding-left: 15px;*/
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
/****************************************************/
/*			  		main.html 				  		*/
/****************************************************/
#top{ background-color:#FFF; position:relative; background:rgb(0,0,0); }

#topbar{ list-style:none; padding:0; margin:0; background:rgba(255,255,255,0.6); }
#topbar ul{ list-style:none; }
#topbar li{ height:36px; line-height:36px; padding:0 10px; float:left; overflow:visible; position:relative; cursor:pointer; display:block; }
#topbar a{ height:36px; line-height:36px; float:left; text-decoration:none; color:#898989; background-image:none; }

/****************************************************/
/*			  		home.html 				  		*/
/****************************************************/
.homeItemStyle{ font-weight: 250; font-family:Monospace; font-weight:bolder; line-height: 1.5; letter-spacing: 1.5px; }
.homeContentStyle{ font-size:17px; font-family:Monospace; font-weight:bolder; line-height: 1; letter-spacing: 1.5px; cursor:pointer; }
.ContentIntroText{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:16px; font-weight:bold; color:#000000; font-variant:small-caps; }

/****************************************************/
/*			  		menu.html 				  		*/
/****************************************************/
#top_menu td{ color: #00000; padding-right:30px; padding-left:30px }
#top_menu td:hover{ color:#FF0066; cursor:pointer; }

/****************************************************/
/*				  	cake.html				 		*/
/****************************************************/
div.cakeimg{
    border: 1px solid #FFFFFF;
    float: left;
    width: 20%;
}
div.cakeimg img{ width: 100%; height: auto; border: 1px solid #FFFFFF;}
div.cakeimg:hover img{ border: 1px solid #777; }
div.desc{ padding: 15px; text-align: center; }
.cakeIntroTitle{ letter-spacing:2.5px; font-family:Monospace, 'Microsoft JhengHei'; font-size:21px; font-weight:bold; color:#FE2E64; font-variant:small-caps; }

/****************************************************/
/*			 	 	rent.html				 		*/
/****************************************************/
div.rentimg{
    border: 1px solid #FFFFFF;
    float: left;
    width: 20%;
}
div.rentimg img{ width: 100%; height: auto; }
div.desc{ padding: 15px; text-align: center; }

.carousel-control_art{
	position:absolute;
	top:100px;
	bottom:0;
	left:0;
}
.carousel-control_art.left{
	left:-45px;
}
.carousel-control_art.right{
	right:-45px;
	left:auto;
}

/****************************************************/
/*			 			grid						*/
/****************************************************/

/*
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
*/
[class*="col-"] {
/*  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/****************************************************/
/*			 		portfolio.html					                */
/****************************************************/
.hoverarea {
  position: absolute;  
  margin: 20px 20px;
  width: 306px; 
  height: 306px;

  -webkit-transition: all .5s linear; 
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;  
}

.col-md-4:hover .hoverarea {
  cursor: pointer;
  background-color: rgba(255,255,255,.6);
}

.exitbtn {
  background-color: rgba(0,0,0,.95);
  position: absolute;
  cursor: pointer;
  top: 10px; right: 10px;
  width: 40px; height: 40px;
  font-size: 30px; text-align: center; line-height: 40px; color: white;
  border: 1px solid white; border-radius: 5px;
}

.exitbtn:hover {
  background-color: rgba(255,255,255,.6);
  color: black;
}

.imgscalebg {
  background-color: rgba(0,0,0,.95);
  position: absolute; 
  top: 0px;
  left: 0px;
  z-index: 20;
  display: none;
  width: 100%;
}

.imgscale {
  position: absolute;
  height: 750px;
  width: 750px;
  left: 50%;
  margin-left: -375px;
  top: 50%;
  margin-top: -375px;
}

/*.imgscalebg {
  position: absolute; 
  top: 0px; 
  left: 0px;
  width: 100%;
  height: 100%;

  -webkit-transition: all .5s linear; 
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;  
}

.col-md-4:active .imgscalebg {
  cursor:pointer;
  background-color: rgba(0,0,0,.9);
}*/

.col-md-42222:active img{
  -webkit-animation-name: imgAct; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: imgAct;
  animation-duration: 4s;
/*  animation-play-state: running; */
}

imgAct {
   0%  {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}

  0% {
    transform: scale(1);
    background-color: black;
  }
  100% {
    transform: scale(3);
    background-color: yellow;
  }
}

/****************************************************/
/*          gallery.html                            */
/****************************************************/
.imgHover_row {
  position: absolute;  
  margin: 20px 20px;
  width: 335px; 
  height: 209px;

  -webkit-transition: all .5s linear; 
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;  
}

.imgHover_col {
  position: absolute;  
  margin: 20px 20px;
  width: 335px; 
  height: 522px;

  -webkit-transition: all .5s linear; 
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;  
}

.image_col:hover .imgHover_row {
  cursor: pointer;
  background-color: rgba(255,255,255,.6);
}

.image_col:hover .imgHover_col {
  cursor: pointer;
  background-color: rgba(255,255,255,.6);
}

